
@using AsistenciaShalom.AccesoDatos.Dto;
@model IEnumerable<GrupoDto>
@{
    ViewData["Title"] = "Listado de Grupos de Oración";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Menu"] = "Mantenimiento";
    ViewData["Controlador"] = "Grupo";
}

<div class="card">
    <div class="card-header">
        <div class="card-tools pull-left">
            <h4 class="card-title">@ViewData["Title"] </h4>
        </div>
        <div class="card-tools pull-right">
            <div class="input-group">
                <a class="btn btn-primary" asp-action="Agregar" asp-controller="Grupo">
                    <span class="btn-label">
                        <i class="fa fa-plus-circle"></i>
                    </span>
                    Nuevo
                </a>
            </div>
        </div>
    </div>

    <div class="card-body">

        <form asp-controller="Grupo" id="frmEnviar">

            <div class="table-responsive">
                <table id="table" width="100%" class="display table table-bordered table-striped table-hover blueTable">
                    <thead>
                        <tr>
                            <th style="display:none">@Html.DisplayNameFor(model => model.IdGrupo)</th>
                            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
                            <th>@Html.DisplayNameFor(model => model.FechaInicioTexto)</th>
                            <th>@Html.DisplayNameFor(model => model.FechaFinTexto)</th>
                            <th>@Html.DisplayNameFor(model => model.DiaReunion)</th>
                            <th>@Html.DisplayNameFor(model => model.Horario)</th>
                            <th>@Html.DisplayNameFor(model => model.TipoGrupoTexto)</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>

                    <tbody id="tbDatos">
                    </tbody>

                </table>
            </div>

        </form>

        @*<form asp-action="Eliminar" asp-controller="Persona"
              method="post" id="frmEnviarEliminar">

            <input type="hidden" id="txtIdEspecialidad" name="iidespecialidad" />
        </form>*@

    </div>
</div>



@section Scripts {


    <script>

        window.onload = function () {

            var url = "Grupo/ListarGrupos";  //  controller/Metodo
            pintar(url, ["idGrupo", "nombre", "fechaInicioTexto", "fechaFinTexto", "diaReunion", "horario","tipoGrupoTexto"],
                "idGrupo", "Grupo");
        }


        function Eliminar(id) {

            //document.getElementById("hdnIdPersona").value = id;
            mostrarModalConfirmacion("Eliminar Grupo", "¿Está seguro de eliminar este grupo?").then(res => {

                if (res.value) {
                    $.get("Grupo/Eliminar/?id=" + id, function (rpta) {

                        if (rpta) {
                            correcto("El grupo se eliminó correctamente");
                            var frmEnviar = document.getElementById("frmEnviar");
                            frmEnviar.submit();
                        } else {
                            error("Ocurrió un error al eliminar");
                        }
                    })
                }
            })
        }

    </script>

}