@using Microsoft.AspNetCore.Http;
@using AsistenciaShalom.Presentacion.Generic;
@using AsistenciaShalom.AccesoDatos.Dto;

@{
    var idusuario = Context.Session.GetString("usuario");
    var nombrecompleto = Context.Session.GetString("nombreCompletoPersona");
    var nombrerol = Context.Session.GetString("nombreRol");
    var idrol = Context.Session.GetString("idRol");
}

<div class="sidebar sidebar-style-2">
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <div class="user">
                @*<div class="avatar-sm float-left mr-2">
                        <img src="~/assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
                    </div>*@
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                        <span>
                            @*@Html.DisplayFor(model => model.NombreCompletoPersona)*@
                            @nombrecompleto
                            @*<span class="user-level">@Html.DisplayFor(model => model.NombreRol)</span>*@
                            <span class="user-level">@nombrerol</span>
                            <span class="caret"></span>
                        </span>
                    </a>
                    <div class="clearfix"></div>

                    <div class="collapse in" id="collapseExample">
                        <ul class="nav">
                            <li>
                                @*<a href="#profile">
                                        <span class="link-collapse">My Profile</span>
                                    </a>*@
                                <a asp-controller="Home" asp-action="Perfil">
                                    <span class="link-collapse">Mi Perfil</span>
                                </a>
                            </li>
                            @*<li>
                                    <a href="#edit">
                                        <span class="link-collapse">Edit Profile</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#settings">
                                        <span class="link-collapse">Settings</span>
                                    </a>
                                </li>*@
                        </ul>
                    </div>
                </div>
            </div>

            <ul class="nav nav-primary">

                @if (Generico.listaMenu != null)
                {
                    @foreach (MenuDto menu in Generico.listaMenu)
                    {
                            @if (ViewData["Menu"].ToString() == menu.Nombre)
                            {
                                <li class="nav-item active submenu">
                                    <a data-toggle="collapse" href="#@menu.Nombre">

                                        @if (menu.Nombre == "Mantenimiento")
                                        {
                                            <i class="fas fa-address-book"></i>
                                        }
                                        @if (menu.Nombre == "Administracion")
                                        {
                                             <i class="fas fa-layer-group"></i>
                                        }
                                        @if (menu.Nombre == "Control")
                                        {
                                             <i class="far fa-calendar-alt"></i>
                                        }
                                        
                                        <p>@menu.Titulo</p>
                                        <span class="caret"></span>
                                    </a>
                                    <div class="collapse show" id="@menu.Nombre">
                                        <ul class="nav nav-collapse">

                                            @foreach (var opag in menu.PaginaRol)
                                            {
                                                @if (ViewData["Controlador"].ToString() == opag.Pagina.Controlador)
                                                {
                                                    <li class="nav-li active">
                                                        <a asp-controller="@opag.Pagina.Controlador" asp-action="@opag.Pagina.Accion">
                                                            <span class="sub-item">@opag.Pagina.Titulo</span>
                                                        </a>
                                                    </li>

                                                }
                                                else
                                                {
                                                    <li class="nav-li">
                                                        <a asp-controller="@opag.Pagina.Controlador" asp-action="@opag.Pagina.Accion">
                                                            <span class="sub-item">@opag.Pagina.Titulo</span>
                                                        </a>
                                                    </li>
                                                } 

                                            }
                                        </ul>
                                    </div>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a data-toggle="collapse" href="#@menu.Nombre">
                                        @if (menu.Nombre == "Mantenimiento")
                                        {
                                            <i class="fas fa-address-book"></i>
                                        }
                                        @if (menu.Nombre == "Administracion")
                                        {
                                            <i class="fas fa-layer-group"></i>
                                        }
                                        @if (menu.Nombre == "Control")
                                        {
                                            <i class="far fa-calendar-alt"></i>
                                        }
                                        @*<i class="far fa-calendar-alt"></i>*@
                                        <p>@menu.Titulo</p>
                                        <span class="caret"></span>
                                    </a>
                                    <div class="collapse" id="@menu.Nombre">
                                        <ul class="nav nav-collapse">

                                            @foreach (var opag in menu.PaginaRol)
                                            {                                              
                                                <li class="nav-li">
                                                    <a asp-controller="@opag.Pagina.Controlador" asp-action="@opag.Pagina.Accion">
                                                        <span class="sub-item">@opag.Pagina.Titulo</span>
                                                    </a>
                                                </li>                                              
                                            }
                                            @*<li class="nav-li">
                                                <a asp-controller="Reunion" asp-action="Index">
                                                    <span class="sub-item">Asistencia</span>
                                                </a>
                                            </li>*@
                                        </ul>
                                    </div>
                                </li>
                            }

                    }
                }

                

            </ul>
        </div>
    </div>
</div>
